html, body{
  background: #060606;
  background-image: url('./stars-bb2.gif');
  display:flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position:relative;
}

main{
  display:flex;
  min-height:0;
  min-width: 0;
  width:100%;
  justify-content: center;
  gap: 1rem;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index:20;
  min-width: 800px;
}

section > div{
  display:flex;
  flex-direction: column;
  width: 100%;
  padding-block-start: 2rem;
  gap: 1rem;
  align-items: center;
}

#flame{
  background-image: url('flame.gif');
  position: fixed;
  width:100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-repeat: repeat-x;
}

img.skull1{
  position: fixed;
  left: 40px;
  top: 230px;
  width:auto;
  height:450px;
}

img.skull2{
  position: fixed;
  left: 40px;
  bottom: 40px;
  width:auto;
  height:250px;
}
img.skull3{
  position: fixed;
  right: 20px;
  top: 10px;
  width:auto;
  height:150px;
}
img.ultra{
  position: fixed;
  right: 4rem;
  bottom: 4.5rem;
  width:241px;
  height: 365px;
}

img.skullspider{
  position: fixed;
  right: 23rem;
  top: 180px;
  width:161px;
  height: 125px;
}

img.toot {
	position: fixed;
	right: 27rem;
	top: 27rem;
	width: 151px;
	height: 115px;
	scale: 1.8 1.93;
}

canvas{
  width: max-content;
  position: relative;
  z-index:  90;
}

button{
  display: flex;

  font-family: serif;
  font-weight: bold;
 
  background: blue;
  text-transform: uppercase;
  width: fit-content;
  align-self: center;
}

#controls{
  position: relative;
}

#btn-spin,
#btn-clear-project{
  color: #00ff00;
  padding: 1rem;
  padding-inline: 2rem;
  font-size: 1.25rem;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

#btn-spin:hover,
#btn-clear-project:hover{
  background: cyan;
  color: red;
  font-weight: 900;
}

#btn-clear-project {
	padding: 0.3rem;
	word-wrap: break-word;
	font-size: 1.25rem;
	text-decoration: underline;
	cursor: pointer;
	width: 150px;
	bottom: 28rem;
	right: 4rem;
	position: fixed;
}

.torch{
  width: 100px;
  height: 225px;
  position: absolute;
  scale: -0.5 0.5;
  right: -3px;
  z-index: 1;
}

.torch::before{
  content: '';
  filter: blur(1.5rem);
  background: radial-gradient(white 5%, yellow 10%, rgb(255, 130, 14) 20%, rgb(68, 35, 4) 40%, black 70%);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 4px;
}

.torch::after{
  background-image: url('torch.gif');
  position: absolute;
  top: -10px;
  right: -3px;
  width: 100%;
  height: 100%;
  content: '';
  filter: none;
}

.torch:first-child{
  left: -3px;
  scale: 0.5 0.5;
}


#backlog{
  color: red;
  font-size: 2.75rem;
  text-transform: uppercase;
  text-decoration: underline;
  display:flex;
  flex-direction: column;
  flex-shrink: 1;
  height: 100%;
  background-color: #000;
  background-image: url('stone.bmp');
  padding-inline: 4.5rem;
  padding-block: 0.75rem 0.5rem;
  position: relative;
  width: 100%;
}

#backlog div{
  display: flex;
  justify-content: space-between;
  text-decoration: none !important;
}

#backlog span{
  background-color: #000;
}

#backlog textarea{
  background-color: #000;
}

textarea{
  width: 100% !important;
  height: 14rem;
  min-width: 0;
  max-height: 100%;
  height:100%;
  color:white;
  z-index: 2;
}

#controls{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

input{
  width:60px;
  height:40px;
}

#title{
  position:fixed;
  z-index:10;
  top:15px;
  left: 15px;
  width:326px;

  display:flex;
  flex-direction: column;
  border: 4px solid cyan;
}

#title span{
  font-size: 6.5rem;
  color: yellow;
}

#title a{
color: orange;
font-size: 1.5rem;
}

.alert-background{
  width:100%;
  height: 100%;
  background: #000000cc;
  position: absolute;
  z-index: 100;
  display: none;

  justify-content: center;
  align-items:center;
}

.alert-background.visible{
  display: flex;
}

.alert{
  color: #fff;
  padding: 3rem;
  border: 4px solid yellow;
  background: red;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  justify-content: center;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size:2.5rem;
  text-align: center;
  text-decoration: underline;
}
p{
  font-size: 1.25rem;
}

#current-project{
  width: 300px;
  display:flex;
  flex-direction: column;
  justify-content: end;
  position:fixed;
  font-size: 3rem;
  bottom: 4.5rem;
  right: 65px;
  color: #fff;
  text-align: end;
}

#current-project div{
  width: 100%;
  display:flex;
  justify-content: end;
  text-align: end;
}

#lbl-current-proj-header{
  white-space: nowrap;
}